
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');



body {
    margin: 0;
    font-family: Outfit;
    background: #FFF7DF;
    color: #3e3e3e;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-size: 18px;
    color: #D87347;
    font-weight: 600;
		font-family: Playfair;

}

.back-btn {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #D87347;
}

/* PROFILE CARD */
.profile-card {
    background: #FAD8A6;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    width: 85%;
    display: flex;
    align-items: center;
    gap: 15px;
	font-family: Outfit;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.profile-card h3 {
    margin: 0;
}

.profile-card p {
    margin: 0;
    font-size: 12px;
    color: #555;
}

.arrow-btn {
    margin-left: auto;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: #D87347;
}

/* SETTINGS */
.settings-box {
    background: #FAD8A6;
    width: 85%;
    margin: auto;
    padding: 10px 0;
    border-radius: 15px;
}

.setting-row {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6b378;
		font-family: Outfit;

}

.setting-row:last-child {
    border-bottom: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-left: auto;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #d05237;
    border-radius: 25px;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: .3s;
}

input:checked + .slider {
    background: #ffad64;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.selected {
    margin-left: auto;
    margin-right: 5px;
    color: #D87347;
	margin-left:150px;
}


.random-text{
	font-family: Outfit;
	font-size: 20px;
margin-bottom: 50px;
margin-top: 20px;
	margin-left: 50px; 
	
}



