@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


body {
  background: #f8f4e8;
  font-family: outifit;
}

.top-bar {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: #c94b2c;
  font-weight: bold;
  position: relative;
font-family: Playfair;
}

.back {
  position: absolute;
  left: 16px;
}

.post-card {
  background: #fde7b0;
  border-radius: 20px;
  padding: 16px;
  max-width: 360px;
  margin: auto;
	font-family: Outfit;
}

.post-header {
  display: flex;
  justify-content: space-between;
	font-family: Outfit;
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
}

.user img {
  border-radius: 50%;
}

.post-card img {
  width: 100%;
  border-radius: 14px;
}

.dots {
  background: none;
  border: none;
}

/* FAB */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #c94b2c;
  color: white;
  border: none;
  font-size: 32px;
}

/* Offcanvas */
.custom-offcanvas {
  border-radius: 20px 20px 0 0;
}

.action {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.edit {
  background: #f7c66a;
	font-family: Outfit;
}

.cancel {
  background: #eee;
	font-family: Outfit;
}

.delete {
  background: #d14b2c;
  color: white;
	font-family: Outfit
}

/* Modal editar */
.edit-modal {
  background: #fde7b0;
  border-radius: 20px;
}

.edit-modal textarea {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  padding: 10px;
 font-family: Outfit;
}

.save-btn {
  width: 100%;
  margin-top: 10px;
  border-radius: 12px;
  padding: 10px;
  background: #c94b2c;
  color: white;
  border: none;
  font-family: Outfit;
}

.post-image {
  width: 100%;
  height: 220px;        /* ajusta si quieres */
  border-radius: 14px;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}


