@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')




.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
background: linear-gradient(0deg,rgba(246, 89, 72, 1) 0%, rgba(225, 144, 57, 1) 100%);

  /* Dissolve animation */
  animation: dissolve 2s ease forwards 3s; /* 10 seconds */
}

.logosplash {
	width: 40vw;
}


@keyframes dissolve {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Show content after the dissolve finishes */
.content {
  opacity: 0;
  animation: show 500ms ease forwards;
  animation-delay: 10000ms; /* wait for splash to finish */
}

@keyframes show {
  to {
    opacity: 1;
  }
}


/*crea tu cuenta*/

body {
    background-color: #FFF8E6;
    font-family: Arial, sans-serif;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 0 20px; /* evitar bordes pegados en phones */
}

/* Contenedor */
.container {
    width: 100%;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    background: #FFF8E6; 
}

/* Logo */
.logo {
    width: 70px;
    margin: 0 auto 15px;
}

/* Botón flecha */
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #C56A28;
}

/* Título */
h1 {
    color: #D58A2C;
    font-size: 28px;
    margin: 0 0 20px;
    text-align: center;
}

/* Etiquetas */
label {
	font-family: Outfit;
    text-align: left;
    font-size: 14px;
    color: #4A4A4A;
    margin-bottom: -5px;
}

/* Inputs */
input {
	font-family: Outfit;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #F8DDA4;
    outline: none;
    font-size: 15px;
}

/* Link "Inicia sesión" */
.login-link {
	font-family: Outfit;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
}

.login-link a {
	font-family: Outfit;
    color: #7C3A00;
    font-weight: bold;
    text-decoration: none;
}

/* Botón Crear cuenta */
.btn-submit {
	font-family: Outfit;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    background-color: #D8613C;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: 0.9;
}
