@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



.bienvenido-container1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bienvenido-bienvenido {
  width: 100%;
  height: 917px;
  position: relative;
  background: #FFFBE5;
}

/* Título */
.bienvenido-text10 {
  position: absolute;
  top: 181px;
  left: 98px;
  font-family: Ysabeau Infant;
  color: #EB963B;
  font-size: 32px;
}

/* Logo */
.bienvenido-rectangle41 {
  position: absolute;
  top: 64px;
  left: 161px;
  width: 90px;
  height: 90px;
}

/* ¿Ya tienes cuenta? */
.bienvenido-group5 {
  position: absolute;
  top: 741px;
  left: 81px;
}

.bienvenido-text11,
.bienvenido-text12 {
  font-family: Outfit;
  font-size: 18px;
  color: #413F03;
}

.bienvenido-text12 {
  text-decoration: underline;
  margin-left: 10px;
}

/* Formulario */
.bienvenido-frame25 {
  position: absolute;
  top: 247px;
  left: 46px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.bienvenido-form-contact {
  width: 320px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #FFFBE5;
  border-radius: 8px;
}


.bienvenido-input-field1,
.bienvenido-input-field2,
.bienvenido-input-field3,
.bienvenido-input-field4,
.bienvenido-input-field5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
font-family: Outfit;
}

.bienvenido-input1,
.bienvenido-input2,
.bienvenido-input3,
.bienvenido-input4,
.bienvenido-input5 {
  padding: 12px 16px;
  border-radius: 8px;
  background: rgba(247,198,103,0.5);
  border: none;
  color: white;
  font-family: Outfit;
}

.bienvenido-button2 {
  position: absolute;
  top: 792px;
  left: 84px;
  width: 244px;
  padding: 12px;
  background: #CB4B2A;
  border-radius: 25px;
  color: white;
  font-family: Outfit;
	font-size: 15px;
  text-align: center;
}

/* Flecha */

.material-symbols-outlined {
 font-size: 80px; 
  color: #CC4C2B;
  position: absolute;
  top: 34px;
  left: 31px;
  cursor: pointer;

}

