:root {
--bg: #fbf8e5;
--accent: #c0563d;
--purple: #7a5e95;
--tag-bg: #e6d6f2;
}


* {
box-sizing: border-box;
}


.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-size: 18px;
    color: #7a5e95;
    font-weight: 600;
	

}


.bottom-nav {
    position: fixed;
    bottom: 20px;               /* distancia desde abajo */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #e89230;        /* color de tu barra */
    padding: 15px 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* --- LINKS DEL NAV --- */
.nav-item {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

/* --- ICONOS DEL NAV --- */
.nav-item i {
    font-size: 32px;
    margin-bottom: 5px;
}




body {
margin: 0;
background: var(--bg);
font-family: 'Inter', sans-serif;
padding: 16px;
}


.top-bar {
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-bottom: 24px;
}


.back {
position: absolute;
left: 0;
font-size: 28px;
color: var(--accent);
cursor: pointer;
}


.top-bar h1 {
font-family: 'Playfair Display', serif;
color: var(--accent);
letter-spacing: 1px;
font-size: 22px;
}


.reading-list {
display: flex;
flex-direction: column;
gap: 28px;
}


.book-item {
display: flex;
gap: 16px;
}


.book-item img {
width: 120px;
height: 170px;
border-radius: 18px;
object-fit: cover;
}


.book-info h2 {
margin: 0 0 6px;
font-size: 18px;
font-weight: 600;
}


.book-info p {
margin: 2px 0;
font-size: 14px;
}


.rating {
margin: 6px 0 8px;
}


.star {
color: #cfcfcf;
font-size: 18px;
}


.star.filled {
color: var(--accent);
}


.tag {
display: inline-block;
background: var(--tag-bg);
color: var(--purple);
padding: 4px 10px;
border-radius: 12px;
font-size: 12px;
}


/* Responsive */
@media (max-width: 480px) {
.book-item img {
width: 110px;
height: 160px;
}
.book-info h2 {
font-size: 16px;
}
}