

:root{
--bg: #fef9e8;
--accent: #704c81;
--muted: #ead4ff;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    font-size: 18px;
    color: #7a5e95;
    font-weight: 600;
	

}


.bottom-nav {
    position: fixed;
    bottom: 20px;               /* distancia desde abajo */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #e89230;        /* color de tu barra */
    padding: 15px 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* --- LINKS DEL NAV --- */
.nav-item {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

/* --- ICONOS DEL NAV --- */
.nav-item i {
    font-size: 32px;
    margin-bottom: 5px;
}



*{box-sizing: border-box}
body{
margin:0;
background:var(--bg);
font-family: 'Inter', sans-serif;
	 padding-bottom: 120px;
}


.container{
width:360px;
margin:12px auto;
padding:14px;
}


h1{
font-family: 'Playfair Display', serif;
font-size:22px;
color:var(--accent);
text-align:center;
letter-spacing:1px;
}


.search-box{
background:#fff;
padding:10px 14px;
border-radius:30px;
display:flex;
align-items:center;
box-shadow: 0 2px 6px rgba(0,0,0,0.06);
margin:14px 0;
}


.search-box input{
border:0;
outline:0;
width:100%;
font-size:14px;
}


body {
background: #fbf8e5;
font-family: 'Inter', sans-serif;
padding: 20px;
}


.section-title {
font-family: 'Playfair Display', serif;
color: #7a5e95;
font-size: 24px;
margin-bottom: 4px;
}


.separator {
width: 100%;
height: 2px;
background: #d2c2e6;
margin-bottom: 16px;
}


.book-carousel {
display: flex;
gap: 20px;
overflow-x: auto;
scroll-behavior: smooth;
padding-bottom: 15px;
cursor: grab;
}


.book-carousel.active {
cursor: grabbing;
}


.book-card {
min-width: 150px;
background: transparent;
flex-shrink: 0;
}


.book-card img {
width: 150px;
height: 200px;
border-radius: 16px;
object-fit: cover;
}


.book-card h3 {
font-size: 16px;
margin: 6px 0 2px;
font-weight: 600;
}


.book-card p {
margin: 0;
font-size: 13px;
color: #444;
}


.tag {
background: #e0c8ff;
padding: 4px 10px;
display: inline-block;
border-radius: 12px;
margin-top: 6px;
font-size: 11px;
color: #7a5e95;
}

.book-link {
  text-decoration: none;
  color: inherit;
  display: block; /* importante */
}

