:root{
--bg:#fbf8e5;
--title:#c45a3a;
--text:#6b3f2b;
--muted:#bfa6d8;
}


*{box-sizing:border-box}

.bottom-nav {
    position: fixed;
    bottom: 20px;               /* distancia desde abajo */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #e89230;        /* color de tu barra */
    padding: 15px 0;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* --- LINKS DEL NAV --- */
.nav-item {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

/* --- ICONOS DEL NAV --- */
.nav-item i {
    font-size: 32px;
    margin-bottom: 5px;
}



body{
margin:0;
background:var(--bg);
font-family:'Inter',sans-serif;
padding:18px 16px 30px;
}


.top-bar{
display:flex;
align-items:center;
justify-content:center;
position:relative;
margin-bottom:40px;
}


.back{
position:absolute;
left:0;
font-size:30px;
color:var(--title);
}


.top-bar h1{
font-family:'Playfair Display',serif;
color:var(--title);
font-size:22px;
letter-spacing:1px;
}


.library{
display:flex;
flex-direction:column;
gap:44px;
}


.library-row{
display:flex;
align-items:center;
gap:24px;
}


.book-cover{
width:135px;
height:195px;
border-radius:26px;
overflow:hidden;
}


.book-cover img{
width:100%;
height:100%;
object-fit:cover;
}


.library-text h2{
font-family:'Playfair Display',serif;
font-size:24px;
color:var(--text);
margin:0 0 6px;
line-height:1.1;
}


.library-text span{
font-size:14px;
color:var(--muted);
}


@media(max-width:360px){
.book-cover{width:120px;height:175px}
.library-text h2{font-size:22px}
}